__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
build/
dist/
*.spec
*.exe
*.app
*.log
*.tmp
*.bak
reports/*
logs/*
.idea/
.vscode/
*.code-workspace
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
venv/
env/
ENV/
.ipynb_checkpoints
*.swp
*.swo
